*.egg-info
AppDir
Miniconda3-latest*.sh
VERSION.txt
__pycache__
build
debug*
dist
ffmpeg
ffmpeg-git*.tar.xz
funscript-editor*.AppImage
funscript-editor.spec
funscript_actions.csv
linuxdeploy*.AppImage
build-dir
.flatpak-builder
repo
*.flatpak
funscript_editor/cache
result
