Pillow
PyYAML
coloredlogs
cycler
gitpython
humanfriendly
kiwisolver
matplotlib
numpy
playsound
pynput
pyparsing
pyqtgraph
pyreadline
python-dateutil
python-mpv
scipy
screeninfo
six
